<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Lesson 5: Chatter</title>

    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
</head>
<body>
<h1>Welcome to Chatter</h1>
<h2>The internets favour Twitter knock off!</h2>

<p>So being a cheap imitation knock off of Twitter you can chat a status</p>
<p>See the chatter feed below!</p>

<form method="post" action="/addnote">
    <h2>What do you want to say?</h2>
    <label for="status">Status</label>
    <input type="text" name="status"/>
    <label for="username">Your name</label>
    <input type="text" name="username"/>

    <label for="mood">Mood</label>
    <input type="text" name="mood" />

    <input type="submit"/>
</form>

<h2>Chatter Feed</h2>

<div>
    {% for item in feed %}
    <div><b>{{item.username}}</b> chatted <b>{{item.status}}</b> and is feeling <b>{{item.mood}}</b> at <b>{{item.time}}</b></div>
    {% endfor %}
</div>

</body>
</html>